<?xml version="1.0"?>
<!-- proticaretg5d versiyonu -->
<configuration>
    <configSections>
        <section name="SecurePages" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <sectionGroup name="system.web">
            <section name="requestService" type="RequestServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
            <section name="operatorService" type="OperatorServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
            <section name="chatService" type="ChatServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="PortalId" value="0" />
        <add key="AdminAccountChanged" value="True" />
        <add key="SmtpFromName" value="Gonderen Adi" />
        <add key="SmtpServer" value="mail.siteniz.com" />
        <add key="SmtpServerPort" value="587" />
        <add key="SmtpServerUseSsl" value="False" />
        <add key="SmtpUserName" value="kullaniciadi" />
        <add key="SmtpPassword" value="sifre" />
        <add key="SmtpMailOrders" value="siparis@siteniz.com" />
        <add key="SmtpMailArchive" value="arsiv@siteniz.com" />
        <add key="googleADWORDSlabel" value="" />
        <add key="googleADWORDS" value="" />
        <add key="googleCode" value="" />
        <add key="icon" value="" />
        <add key="StoreType" value="B2C" />
        <add key="OnlyUsersCanBuy" value="False" />
        <add key="UseUserActivation" value="False" />
        <add key="DisableReview" value="False" />
        <add key="SendFailedLogins" value="True" />
        <add key="SendFailedPayments" value="True" />
        <add key="WillCheckNews" value="True" />
        <add key="ProductsPerPage" value="20" />
        <add key="ProductsPerLine" value="99" />
        <add key="ProductsPerListPage" value="50" />
        <add key="TopSellersPerPage" value="10" />
        <add key="GaleryImageSize" value="200" />
        <add key="ListImageSize" value="95" />
        <add key="DetailImageSize" value="200" />
        <add key="DetailImageSizeBig" value="500" />
        <add key="OutOfStockMessage" value="" />
        <add key="StockAlarmLimit" value="5" />
        <add key="Pay3dOkStatus" value="12349" />
        <add key="Pay3dOkStatusVakifBank" value="YAU" />
        <add key="Pay3dOkStatusBankAsya" value="YAU" />
        <add key="UploadImageSize" value="1000" />
        <add key="MinCartLimit" value="5" />
        <add key="ExpandOnClickAdmin" value="False" />
        <add key="CurrencyFormatString" value="###,###,###,##0.00" />
        <add key="NumberFormatString" value="###,##0.00" />
        <add key="UseZoomOnImages" value="True" />
        <add key="UseCampain" value="True" />
        <add key="LogErrors" value="True" />
        <add key="KnowledgeBaseActive" value="True" />
        <add key="HandleErrors" value="True" />
        <add key="FCKeditor:UserFilesPath" value="/uploads/" />
        <add key="popularThreshold" value="2" />
        <add key="UseVada" value="True" />
        <add key="SmsProvider" value="turatel" />
        <add key="PosterActive" value="False" />
        <add key="BookActive" value="True" />
        <add key="UseTags" value="True" />
        <add key="ShowReports" value="True" />
        <add key="BatchJobsActive" value="True" />
        <add key="LimitCategoryProducts" value="False" />
        <add key="LogVisits" value="False" />
        <add key="LogChatVisits" value="False" />
        <add key="AutoIntegration" value="True" />
        <add key="OnlyUsersCanSeePrice" value="False" />
        <add key="UseMultiCart" value="True" />
        <add key="AffiliateActive" value="False" />
        <add key="AffiliateType" value="3" />
        <add key="AffiliateValue" value="0" />
        <add key="AffiliateAutoActive" value="True" />
        <add key="InviteAffiliateActive" value="False" />
        <add key="InviteAffiliateValue" value="10" />
        <add key="CompanyName" value="Firma Adınız" />
        <add key="CompanyTel" value="0212 444 44 44" />
        <add key="CompanyFax" value="0212 444 44 45" />
        <add key="CompanyAddress" value="Firma Adresiniz" />
        <add key="CompanyEmail" value="info@siteniz.com" />
        <add key="SiteName" value="siteniz.com" />
        <add key="UseCdn" value="true" />
        <add key="SiteUrl" value="" />
        <add key="UseSsl" value="False" />
        <add key="FaceBookActive" value="False" />
        <add key="FaceBookApiId" value="" />
        <add key="FaceBookApiKey" value="" />
        <add key="FaceBookStoreActive" value="True" />
        <add key="FaceBookStoreCanvasUrl" value="" />
        <add key="GuvenRehberiCode" value="" />
        <add key="FaceBookStorePermission" value="email,publish_stream" />
        <add key="DetailImageSizeIcon" value="30" />
        <add key="3dPicture" value="False" />
        <add key="QapelPartnerID" value="32423" />
        <add key="QapelPartnerIDKey" value="d583b6c7b65508d7021b18a81bc6cef265bb3985" />
        <add key="QapelURL" value="https://www.qapel.com.tr/api/qapel_gateway/3party/3partyapi.php" />
        <add key="QapelSalt" value="qapel loves you" />
        <add key="SupportActive" value="False" />
        <add key="PTSanalPos" value="True" />
        <add key="TSanalPos" value="True" />
        <add key="TesanUserName" value="" />
        <add key="TesanPassword" value="" />
        <add key="NetworkMarketingOrderStatus" value="0" />
        <add key="ToplamSeviye" value="" />
        <add key="PrimHesaplamaSekli" value="22" />
        <add key="PrimHesaplamaSekliType" value="2" />
        <add key="PrimeKdvdahil" value="False" />
        <add key="PrimTakipPeriyodu" value="30" />
        <add key="KendiSatisindanPrim" value="False" />
        <add key="KariyerTakibi" value="False" />
        <add key="UyeliktenPuanKazanma" value="False" />
        <add key="PrimOraniUrunBazli" value="False" />
        <add key="PrimOranUrunKod" value="1" />
        <add key="seviye1" value="" />
        <add key="seviye2" value="" />
        <add key="seviye3" value="" />
        <add key="seviye4" value="" />
        <add key="seviye5" value="" />
        <add key="seviye6" value="" />
        <add key="seviye7" value="" />
        <add key="seviye1_Prim" value="" />
        <add key="seviye1_Rutbe" value="" />
        <add key="seviye2_Prim" value="" />
        <add key="seviye2_Rutbe" value="" />
        <add key="seviye3_Prim" value="" />
        <add key="seviye3_Rutbe" value="" />
        <add key="seviye4_Prim" value="" />
        <add key="seviye4_Rutbe" value="" />
        <add key="seviye5_Prim" value="" />
        <add key="seviye5_Rutbe" value="" />
        <add key="seviye6_Prim" value="" />
        <add key="seviye6_Rutbe" value="" />
        <add key="seviye7_Prim" value="" />
        <add key="seviye7_Rutbe" value="" />
        <add key="Seviye1_1" value="" />
        <add key="Seviye1_2" value="" />
        <add key="Seviye1_3" value="" />
        <add key="Seviye1_4" value="" />
        <add key="Seviye1_5" value="" />
        <add key="Seviye1_6" value="" />
        <add key="Seviye1_7" value="" />
        <add key="Seviye2_3" value="" />
        <add key="Seviye2_4" value="" />
        <add key="Seviye2_5" value="" />
        <add key="Seviye2_6" value="" />
        <add key="Seviye2_7" value="" />
        <add key="Seviye3_4" value="" />
        <add key="Seviye3_5" value="" />
        <add key="Seviye3_6" value="" />
        <add key="Seviye3_7" value="" />
        <add key="Seviye4_5" value="" />
        <add key="Seviye4_6" value="" />
        <add key="Seviye4_7" value="" />
        <add key="Seviye5_6" value="" />
        <add key="Seviye5_7" value="" />
        <add key="Seviye6_7" value="" />
    </appSettings>
    <SecurePages>
        <add key="/login.aspx" value="secure" />
        <add key="/register.aspx" value="secure" />
        <add key="/partnerlogin.aspx" value="secure" />
        <add key="/store/payment.aspx" value="secure" />
        <add key="/store/orderstep2.aspx" value="secure" />
        <add key="/store/orderstep3d.aspx" value="secure" />
        <add key="/store/banks3d/3dform.aspx" value="secure" />
        <add key="/store/banks3d/3dodeme.aspx" value="secure" />
        <add key="/store/banks3d/3dform_ipara_api.aspx" value="secure" />
        <add key="/store/banks3d/3dodeme_ipara_api.aspx" value="secure" />
        <add key="/store/banks3d/3dformdenizbank.aspx" value="secure" />
        <add key="/store/banks3d/3dodemedenizbank.aspx" value="secure" />
        <add key="/store/banks3d/3dformkuveyt.aspx" value="secure" />
        <add key="/store/banks3d/3dodemekuveyt.aspx" value="secure" />
        <add key="/store/banks3d/3dformyk.aspx" value="secure" />
        <add key="/store/banks3d/3dodemeyk.aspx" value="secure" />
        <add key="/store/banks3d/3dformkvk.aspx" value="secure" />
        <add key="/store/banks3d/3dodemekvk.aspx" value="secure" />
        <add key="/store/banks3d/3dformpayuapi.aspx" value="secure" />
        <add key="/store/banks3d/3dodemepayuapi.aspx" value="secure" />
        <add key="/store/banks3d/3dformgenpa.aspx" value="secure" />
        <add key="/store/banks3d/3dodemeGenpa.aspx" value="secure" />
        <add key="/store/banks3d/3dformpaymec.aspx" value="secure" />
        <add key="/store/banks3d/3dodemepaymec.aspx" value="secure" />
        <add key="/store/banks3d/3dformgaranti.aspx" value="secure" />
        <add key="/store/banks3d/3dodemegaranti.aspx" value="secure" />
        <add key="/store/banks3d/3dformbkm.aspx" value="secure" />
        <add key="/store/banks3d/3dodemebkm.aspx" value="secure" />
        <add key="/store/banks3d/3dformipara.aspx" value="secure" />
        <add key="/store/banks3d/3dodemeipara.aspx" value="secure" />
        <add key="/store/banks3d/3dformvakifbank.aspx" value="secure" />
        <add key="/store/banks3d/3dodemevakifbank.aspx" value="secure" />
        <add key="/store/banks3d/3dformbankasya.aspx" value="secure" />
        <add key="/store/banks3d/3dodemebankasya.aspx" value="secure" />
        <add key="/store/banks3d/3dformpaypal.aspx" value="secure" />
        <add key="/store/banks3d/3dodemepaypal.aspx" value="secure" />
        <add key="/store/banks3d/3dformpayu.aspx" value="secure" />
        <add key="/store/banks3d/3dodemepayu.aspx" value="secure" />
        <add key="/store/banks3d/3dformiyzico.aspx" value="secure" />
        <add key="/facebook/" value="secure" />
        <add key="/default.aspx" value="insecure" />
        <add key="/services/categoryservice.aspx" value="ignore" />
        <add key="/services/categoryservicefb.aspx" value="ignore" />
        <add key="/services/categoryserviceall.aspx" value="ignore" />
        <add key="/services/categoryserviceimg.aspx" value="ignore" />
        <add key="/services/brandservices.aspx" value="ignore" />
        <add key="/store/makethumb.aspx" value="ignore" />
        <add key="/services/captha.aspx" value="ignore" />
        <add key="/services/ShoppingCartImages.aspx" value="ignore" />
        <add key="/store/productsizesxml.aspx" value="ignore" />
    </SecurePages>
    <system.web>
        <httpRuntime requestValidationMode="2.0" />
        <pages clientIDMode="AutoID" smartNavigation="false" enableEventValidation="false" viewStateEncryptionMode="Never">
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </controls>
            <namespaces>
                <clear />
                <add namespace="Microsoft.VisualBasic" />
                <add namespace="System" />
                <add namespace="System.Data" />
                <add namespace="System.Data.SqlClient" />
                <add namespace="System.Drawing" />
                <add namespace="System.Xml" />
                <add namespace="System.Configuration" />
                <add namespace="System.Text" />
                <add namespace="System.Web" />
                <add namespace="System.IO" />
                <add namespace="ASPNetPortal" />
            </namespaces>
        </pages>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms cookieless="UseCookies" name=".local" protection="All" timeout="60" />
        </authentication>
        <customErrors mode="Off" defaultRedirect="~/error.aspx">
            <error statusCode="404" redirect="~/404.aspx" />
            <error statusCode="403" redirect="~/error.aspx" />
            <error statusCode="410" redirect="~/error.aspx" />
            <error statusCode="500" redirect="~/error.aspx" />
        </customErrors>
        <httpHandlers>
            <!--<add verb="*" path="*.flv" type="FLVStreaming"/>-->
            <remove verb="*" path="*.asmx" />
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpModules>
        <!--<globalization uiCulture="tr-TR" culture="tr-TR" enableClientBasedCulture="true" requestEncoding="utf-8" responseEncoding="utf-8" />-->
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-9" responseHeaderEncoding="iso-8859-9" uiCulture="tr-TR" culture="tr-TR" />
        <machineKey validationKey="70E15F2342CBB52DC3952ABCDACD797893B4F35AA9E9FF11A630F116F905FBC1225A60070DBDB6B460E12D8B3334A1DCF1ADB7FCE1C0A931844C34355BDCB06F" decryptionKey="3AAB0368C7DF59732D279167C7EEB8EBEFA6E004C9E3C88C0152AC4DAFD9D1BD" validation="SHA1" decryption="AES" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule,  System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <handlers>
            <remove name="WebServiceHandlerFactory-Integrated" />
            <add name="ashx" path="*.ashx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="axd" path="*.axd" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="asmx" path="*.asmx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="aspx" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="axd_2" preCondition="integratedMode" verb="*" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            <add name="asmx2" preCondition="integratedMode" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="Index.html" />
                <add value="Index.htm" />
                <add value="Index.aspx" />
                <add value="Default.html" />
                <add value="Default.htm" />
            </files>
        </defaultDocument>
        <!-- www olmayan istekleri www ye yönlendirmek için aşağıdaki tagı aktif ediniz. -->
        <!--<rewrite>
      <rules>
        <rule name="non www to www" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.([.a-zA-Z0-9\-]+)$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>-->
    </system.webServer>
    <applicationSettings>
        <My.MySettings>
            <setting name="Proticaret_com_kvk_pos_SanalPos" serializeAs="String">
                <value>https://pos.kvk.com/SanalPos.asmx</value>
            </setting>
            <setting name="Proticaret_com_n11_api_CategoryServicePortService" serializeAs="String">
                <value>https://api.n11.com/ws/categoryService/</value>
            </setting>
            <setting name="Proticaret_tr_com_genpa_vpos_Kartaca_Pos_ServiceService" serializeAs="String">
                <value>https://vpos.genpa.com.tr/service/index/</value>
            </setting>
            <setting name="proticaretg3_ProTahsilat_VendorPaymentService" serializeAs="String">
                <value>http://tahsilat.proticaret.org/VendorPayment/VendorPaymentService.svc</value>
            </setting>
            <setting name="proticaretg3_paynet_iodeme" serializeAs="String">
                <value>https://www.paynet.com.tr/connact/iodeme.asmx</value>
            </setting>
            <setting name="proticaretg3_proticaret_act_activation" serializeAs="String">
                <value>http://www.proticaret.net/activation.asmx</value>
            </setting>
        </My.MySettings>
    </applicationSettings>
</configuration>